<h2 class="mb-4">🔥 Trending DevOps Videos </h2>

<div class="row">
  <% movies.forEach(movie => { %>
    <div class="col-md-3 mb-4">
      <div class="card bg-dark text-white h-100">
        <img src="/images/<%= movie.image %>" class="card-img-top" alt="movie">
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p>⭐ <%= movie.rating %></p>
          <a href="/movie/<%= movie.id %>" class="btn btn-warning btn-sm">View Details</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>
